openapi: 3.1.0
info:
  title: USGS Earthquake Data API
  description: API para consultar datos de terremotos desde el servicio oficial de USGS según los parámetros admitidos.
  version: 1.0.0
servers:
  - url: https://earthquake.usgs.gov/fdsnws/event/1
    description: Servidor oficial de datos de terremotos de USGS
paths:
  /query:
    get:
      operationId: getEarthquakeData
      summary: Obtiene datos de terremotos con filtros básicos.
      description: |
        Este endpoint permite filtrar terremotos con parámetros admitidos por USGS, incluyendo tiempo, magnitud, ubicación y profundidad.
      parameters:
        - name: starttime
          in: query
          description: Fecha y hora de inicio para los eventos (formato ISO 8601, e.g., 2024-12-01T00:00:00).
          required: false
          schema:
            type: string
            format: date-time
        - name: endtime
          in: query
          description: Fecha y hora de fin para los eventos (formato ISO 8601, e.g., 2024-12-30T23:59:59).
          required: false
          schema:
            type: string
            format: date-time
        - name: minmagnitude
          in: query
          description: Magnitud mínima de los terremotos.
          required: false
          schema:
            type: number
            minimum: 0
        - name: maxmagnitude
          in: query
          description: Magnitud máxima de los terremotos.
          required: false
          schema:
            type: number
            minimum: 0
        - name: minlatitude
          in: query
          description: Latitud mínima de los terremotos (en grados decimales).
          required: false
          schema:
            type: number
            minimum: -90
            maximum: 90
        - name: maxlatitude
          in: query
          description: Latitud máxima de los terremotos (en grados decimales).
          required: false
          schema:
            type: number
            minimum: -90
            maximum: 90
        - name: minlongitude
          in: query
          description: Longitud mínima de los terremotos (en grados decimales).
          required: false
          schema:
            type: number
            minimum: -180
            maximum: 180
        - name: maxlongitude
          in: query
          description: Longitud máxima de los terremotos (en grados decimales).
          required: false
          schema:
            type: number
            minimum: -180
            maximum: 180
        - name: mindepth
          in: query
          description: Profundidad mínima de los terremotos (en kilómetros).
          required: false
          schema:
            type: number
        - name: maxdepth
          in: query
          description: Profundidad máxima de los terremotos (en kilómetros).
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Datos de terremotos obtenidos exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Tipo de los datos (e.g., FeatureCollection).
                  metadata:
                    type: object
                    description: Información adicional sobre la consulta.
                  features:
                    type: array
                    description: Lista de eventos de terremotos.
                    items:
                      type: object
                      properties:
                        properties:
                          type: object
                          properties:
                            mag:
                              type: number
                              description: Magnitud del terremoto.
                            place:
                              type: string
                              description: Ubicación del terremoto.
                            time:
                              type: integer
                              description: Marca de tiempo del evento en milisegundos desde epoch.
                            updated:
                              type: integer
                              description: Marca de tiempo de la última actualización en milisegundos desde epoch.
                            tsunami:
                              type: integer
                              description: Indica si hay riesgo de tsunami (1 = sí, 0 = no).
        '400':
          description: Parámetros de entrada no válidos.
        '500':
          description: Error interno en el servidor.
